<nav>
                                        <ul class="pager">
                                            <li class="previous"><a href="{{url}}?page={{page-1}}">&larr; 上一页</a></li>
                                            <li>
                                                一共有{{count}}条数据，每页显示{{limit}},当前事第{{page}}页,总共{{pages}}页面
                                            </li>
                                            <li class="next"><a href="{{url}}?page={{page+1}}">下一页 &rarr;</a></li>
                                        </ul>
                                </nav>